{% include "javascript/sidemenu.html" %}
{% block main %}
<div style="margin-left:25%;padding:1px 16px;">
    <h1 style="font-family: Fantasy">Co je JavaScript</h1>
    <div style="width: 50%; font-family: sans-serif;" >
    <p>JavaScript je open source a nejpopulárnější skriptovací jazyk  podporovaný všemi prohlížeči.
     JavaScript se používá hlavně k posílení interakce uživatele s webovou stránkou. Jinými slovy,  pomocí JavaScriptu
     můžete svou webovou stránku oživit a učinit více interaktivní. JavaScript se také hojně používá při
     vývoji her a vývoji mobilních aplikací.</p>

     JavaScript, jakožto je skriptovací jazyk, nelze spustit samostatně. Spuštění kódu JavaScript se provádí v prohlížeči.
     Hlavní výhodou JavaScriptu je, že všechny moderní webové prohlížeče JavaScript podporují.
     Nemusíte si dělat starosti s tím, zda návštěvník vašeho webu používá Internet Explorer, Google Chrome, Firefox nebo
     jakýkoli jiný prohlížeč. JavaScript bude podporován. JavaScript také běží na jakémkoli operačním systému, včetně Windows,
     Linux nebo Mac.

     <p>Celý kód JavaScriptu můžete umístit do značek<b> &lt;script&gt; &lt;/script&gt;</b>
     nebo si vytvořit kód do samostatného souboru například main.js , (důležitá je přípona <b>.js</b>)
     poté vložit do HTML souboru následovně: <b> &lt;script src="myscripts.js"&gt; &lt;/script&gt;</b>
    </div></div>
{% endblock %}