{% include "layout.html" %}
{% block main %}

<div class="sidenav">
  <a href="/javascript1">Začínáme</a>
  <a href="/javascript2">První program</a>
  <a href="/javascript3">Proměnné a text</a>
  <a href="/javascript4">Arrays</a>
  <a href="/javascript5">Cyklus for,while</a>
  <a href="/javascript6">Podmínky-IF,Else,Else IF</a>
  <a href="/javascript7">Funkce</a>
  <a href="/javascript8">Funkce s argumentem</a>
  <a href="/javascript9">JavaScript DOM</a>
  <a href="#">Services</a>

</div >

{% endblock %}