{% extends "layout.html" %}
{% set active_page = "main.about" %}
{% block content %}

<h1>Ahoj</h1>

<p>Jmenuji se Adam a studuji na Gymnáziu Elgartova v Brně.<img src="static/profile_pics/logo.png"></p>

Tyto stránky jsem naprogramoval v jazyce Python pomocí frameworku Flask. K ukládání dat používám databázový systém PostgreSQL.<br>

Z developerských důvodu budu rád když se zde zaregistrujete, vaše údaje nebudou předávaný třetím osobám a jiným způsobem zneužity.<br>
Vaše heslo bude zašifrováno pomocí kryptografické hašovací funkce, tudíž k němu nikdo jiný kromě vás nebude mít přístup.<br>
<br>

Pokud se na mých stránkách zaregistrujte získáte přístup na sekce:</p>
<br>
- Python tutorial pro začátečníky
<br>
- JavaScript tutorial pro začátečníky
<br>
- SQL tutorial pro začátečníky
<br>
- Linux tutorial pro začátečníky

<br>
<br>
- kompletní zdrojový kód tohoto programu.
<br>
<br>
Dále je na těchto stránkách možnost přidávát komentáře.
{% endblock %}