{% include "python/vertbart.html" %}
{% block main %}
<div style="margin-left:15%;padding:1px 16px;height:1000px;">
    <br>
    <h1 style="text-align: center;">Instalace Python </h1>
    <br>
    <br>
    <p style="font-size:15px; font-family: 'Courier New', Courier, monospace;" >
        <b>1.krok</b>
        Stáhněte si nejnovější verzi Pythonu pro váš systém na stránce:
        
        <a href="https://www.python.org/downloads/" target="_blank" >https://www.python.org/downloads/</a>
        <br>
        <br>
        <b>2.krok</b>
        Vyberte si textový editor ve kterém chcete programovat.
        
        Můžete využít jakýkoliv textový editor jako je např. poznámkový blok a atd.
        Samozřejmě existují i speciální editory pro psaní python-kódu tzn IDE(integrated development environment ),
        neboli integrované vývojové prostředí.
        
        Doporučuji si stáhnout jeden z těchto editorů.
         <ul>
         <li>PYCHARM</li>
         <li>VISUAL STUDIO CODE</li>
        <li>ATOM</li>
        <li>SUBLIME TEXT </li>
    </ul>
    <br>
         <p style="margin-left:65px; margin-right:100px; font-size:15px;font-family: 'Courier New', Courier, monospace;">         
         <img style="float:right;width:500px; margin-right:10px" src="/static/python_pics/pycharm.png">
         V případě, že si stáhnete PYCHARM, aplikace vás po spuštění vyzve k vytvoření nového projektu "New project", vytvořte si ho tedy a nazvěte  například "helloworld".
        V tomto projektu si vytvořte soubor a pojmenujte ho třeba "app.py".<br> (soubor vytvoříte klinkutím pravým tlačítkem v menu na "hello world" new ->  python file,viz obrázek)
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        V případě, že si stáhnete jiný editor stačí, když si třeba na ploše vytvoříte složku "helloworld" a v ní si vytvoříte soubor "app.py"<br>
    Poté můžete spustit svůj program v příkazovém řáadku pomocí příkazu <b>python app.py</b>
        </p>
    <p>Další možnost pro jednoduché programy je využítí on line python editorů.</p>
    <div style="width:70%">
       <iframe src="https://trinket.io/embed/python/201eb0cb9e" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
</div>
 {% endblock %}
