{% include "layout.html" %}
{% block main %}

<div class="sidenav">
  <a href="/python">Začínáme</a>
  <a href="/python1">Funkce Print a proměnné</a>
  <a href="/python2">Test</a>
  <a href="/python3">List</a>
  <a href="/python4">Tuple a Dictionary</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <small style="color:yellow">Práce se soubory</small>
    <a href="/pythona1">OS modul</a>
  <a href="/pythona2">Čtení a zápis do souborů</a>
  <a href="/pythona3">Manipulace s obrázky - pillow</a>
</div >

{% endblock %}